#all {
    width: 1250px;
}

/*MÀU CỦA POSTER*/
#divHead {
    text-align: center;
    padding: 10px;
    background: linear-gradient(deepskyblue, #22f30b);
    border: 2px solid black;
    border-radius: 20px;
    font-style: italic;
    font-size: 20px;
}

/*MÀU CỦA FORM ĐĂNG NHẬP*/
#divLogIn {
    /*background-color: #6acaff;*/
    padding: 20px;
    position: fixed;
    top: 200px;
    right: 50%;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(#6acaff, #ffd500);
}

/*CĂN CHỈNH CÁC Ô TRONG FORM ĐĂNG NHẬP*/
#user, #password{
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 3px;
}

/*BODER FORM TÌM KIẾM*/
#searchTable td{
    border: none;
    background-color: aqua;
}

/*THÊM BODER CHO 2 BẢNG DANH SÁCH VÀ THÊM/SỬA*/
table, th, td{
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

/*MÀU VÀ VỊ TRÍ CỦA BẢNG THÊM/SỬA*/
#addInfoTable {
    position: fixed;
    top: 265px;
    right: 150px;
    background-color: #d7f6f6;
}

/*KÍCH THƯỚC FORM TÌM KIẾM*/
#searchInfo{
    width: 500px;
    height: 20px;
}

/*MÀU DÒNG HEADER CỦA BẢNG DANH SÁCH SẢN PHẨM*/
#headTable{
    color: black;
}

/*CĂN TRÁI BẢNG SẢN PHẨM VÀ FORM SEARCH*/
#listProduct, #searchTable{
    margin-left: 20px;
}

/*KÍCH THƯỚC CỦA CÁC BUTTON*/
button{
    padding: 3px;
    margin: 2px;
    width: 60px;
}

button:hover{
    background: red;
    color: white;
}
